* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(83, 117, 117);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
   
    
}

.navbar-brand {
    font-size: 60px;
    text-shadow: 5px 5px darkred;
}

h1 {
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

.info {
    color: white;
    text-align: center;
}

.card-text {
    color: white;
    text-align: center;
}


a {
    color: rgb(182 202 202);
}


p {
    color: white;
    font-size: 20px;
}

h1 {
    text-align: center;
}

.Sivu2 p {
    color: white;
    font-size: 25px;
}

li {
    font-size: 17px;
}

.Sivu3 p {
    color:white;
    font-size: 25px;
}

.Sivu4 p {
    color: white;
    font-size: 25px;
}

footer {
    text-align: center;
    background-color: rgb(83, 117, 117);
    width: 220px;
    height: 80px;
    margin: auto;
    position: bottom;
    left: 0;
    right: 0;
    
}
